<a href="https://colab.research.google.com/github/Eunjung-Cho/dataitgirls/blob/main/python/%EB%8D%B0%EC%9E%87%EA%B1%B8%EC%A6%88_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B3%BC%EC%A0%9C1_%EA%B8%B0%EC%B4%88%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 강의 복습 1 
- 데잇걸즈 파이썬 강의 0703

## 1
파이썬 REPL상에서 a=10 -> b=a -> a=20 하고 print(b)를 실행하면 출력 값은?  

-> a에 10이 먼저 할당 -> b에 10이 할당 -> a에 다시 20할당 즉 print(b)는 10

In [1]:
a=10
b=a
a=20
print(b)

10

## 2 
as=10이라고 입력하면 무슨 일이 일어나는가? 왜 그런가?  
-> syntaxerror가 난다. as는 예약어 이기 때문에 예약어는 변수로 쓸 수 없다.

In [2]:
as=10

SyntaxError: ignored

## 3
번수 a,b,c에 a=3, b=3.0, c="3"이라고 값을 할당한 경우 각 변수는 어떤 타입인가?  
-> a는 정수, b는 실수, c는 문자 타입

In [3]:
a=3
b=3.0
c="3"
type(a),type(b),type(c)

(int, float, str)

## 4
a=4, b=4.0 으로 값을 할당한 경우 a==b의 결과 값은 무엇인가?   
-> True 이다.

In [4]:
a=4
b=4.0
a==b

True

## 5
a=5, b=5.0 을 한줄로 입력하는 코드는 무엇인가?

In [5]:
a=5
print(a, float(a))

5 5.0

## 6
num_list=[1,2,3,4,5]와 같은 리스트가 있을때, num_list[-4]의 값은?  
-> 뒤에서 4번째니까 2이다.

In [6]:
num_list=[1,2,3,4,5]
num_list[-4]

2

## 7
num_list=[5,4,3,2,1]와 같은 리스트가 있을 때, num_list[-3]의 값은 무엇인가? 그 이유는?  
-> 뒤에서 3번째이므로 3이다.

In [7]:
num_list=[5,4,3,2,1]
num_list[-3]

3

## 8
a=[1,2], b=["a","b"]와 같은 두 개의 리스트가 있을 때, 
c=(["a","b"],[1,2])와 같은 형태는 어떻게 만드는가? 그리고 c는 어떤 타입인가?   
-> c=(b,a)로 만든다. 튜플 타입이다.

In [10]:
a=[1,2]
b=["a","b"]
c=(b,a)
print(c)
print(type(c))

(['a', 'b'], [1, 2])
<class 'tuple'>

## 9
a=[1,2,3,...,100]와 같이 1부터 100까지의 정수가 모두 들어있는 리스트 a는 어떻게 만들 것인가?  
조건1. 하나하나 입력하지 않는다.  
조건2. for loop를 사용하지 않는다.

-> range함수를 사용한다. 이때 range(1,101)로 써줘야 1부터 시작해서 101-1 즉 100까지의 숫자를 생성한다. 그리고 list로 한번 감싸준다.

In [13]:
a=list(range(1,101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## 10
def x(input):
  print(f"Hello {input}")
형태의 함수를 만들고 x("output")의 형태로 해당 함수를 실행한 경우, 매개변수의 명칭은 무엇이고 전달인자의 값은 무엇인가?   
-> 매개변수의 명칭은 input이다. 전달인자의 값은 output이라는 글자이다.

In [15]:
def x(input):
  print(f"Hello {input}")

x("output")

Hello output